body {
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
}

#calculator { /*TODO: vertical align, shadows*/
    background-color: #2e6da4;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    height: 420px;
    /*padding: 0 12px 0 12px;*/
    border-radius: 20px;

}

.flex-container { /*ToDo: width for iPhone 5*/
    display: flex;
    width: 320px;
    height: 70px;
}

#main-display-frame {
    height: 6em;
}

button { /*TODO: button responsive height*/
    border: 1px solid black;
    width: 25%;
    height: 100%;
}

#zero {
    flex-grow: 1;
    border-radius: 0 0 0 20px;
}

#equals {
    border-radius: 0 0 20px 0;
}

p {
    width: 100%;
    height: 100%;
}