body {
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
}

#calculator { /*TODO: vertical align, shadows*/
    background-color: #2e6da4;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-device-width: 992px) { /*ToDo: Tablet size, change vw into fix tables*/
    .flex-container {
        width: 20vw;
    }
}
@media (max-device-width: 992px) {
    .flex-container {
        width: 90vw;
    }
}

.flex-container {
    display: flex;
}

#main-display-frame {
    height: 6em;
}

#second-display-frame {
    height: 4em;
}

button { /*TODO: button responsive height*/
    border: 1px solid black;
    width: 25%;
    height: 6em;
}

#zero {
    flex-grow: 1;
}
